# Nextflow working dirs
work/
.nextflow/
.nextflow.*

# Results
results_genomics/*_gdb/
results_genomics/*.bai
results_genomics/*.fai
results_genomics/*.dict
results_genomics/*.idx

# nf-test artifacts
.nf-test/
.nf-test.*
.nf-test.log

# OS/editor junk
.DS_Store
*.swp