profiles {

    conda {
        process {
            executor = 'local'
            conda = true
        }
    }
    
    docker {
        process {
            executor = 'local'
        }
        docker.enabled = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"
    }
}

process {
    cpus = 2
    memory = '4.GB'
}



//  nextflow run main.nf -profile conda,docker