/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    withName: SAMTOOLS_INDEX {
        container = "community.wave.seqera.io/library/samtools:1.20--b5dfbd93de237464"
    }

    withName: GATK_HAPLOTYPECALLER {
        container = "community.wave.seqera.io/library/gatk4:4.5.0.0--730ee8817e436867"
    }

    withName: GATK_JOINTGENOTYPING {
        container = 'community.wave.seqera.io/library/gatk4:4.5.0.0--730ee8817e436867'
    }

    withName: TRIO_MENDELIAN_QC {
        conda = "python=3.10 pandas"
    }

    
}

docker {
    enabled = true
}

conda {
    enabled = true
}
